@import "../../global/variables.scss";

.page-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-image-container {
    width: 260px;
    height: 260px;
    border-radius: 100%;
    border: 4px solid #eaeaea;

    &__image {
        width: 100%;
        height: 100%;
    }
}
