@import '../../variables.scss';

.page-notfound{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__title{
        font-size: 4rem;
        font-weight: 100;
    }
    &__hint{
        color: $surface;
        font-size: 2rem;
        font-weight: 100;
    }
}